
<!DOCTYPE html>
<html>
<head>
  <title>Cloud Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <style>   
    .toolsicon{
 	width: 40px;
 	height: 40px;
 }
  </style>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/darkly/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
<%= yield %>
</div>
</body>
</html>
